<html lang='en'>

<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>

<body>
  <div>
    <div class='center'>
      <div class='title'>Classify Filipino Food Images</div>
      <p>
        Upload a photo of Filipino food and this app will let you know what it is! There are currently 43 kinds of
        Filipino foods that can be classified. Check the bottom of the page for a list.
      </p>
      <div class='content'>
        <div class='no-display'>
          <input id='file-input' class='no-display' type='file' name='file' accept='image/*'
            onchange='showPicked(this)'>
        </div>
        <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
        <div class='upload-label'>
          <label id='upload-label'>No file chosen</label>
        </div>
        <div>
          <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
        </div>
        <div class='analyze'>
          <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
        </div>
        <div class='result-label'>
          <label id='result-label'></label>
        </div>
      </div>
      <p> Here are the types of Filipino foods able to be classified:
        'afritada', 'arroz caldo', 'bagnet', 'balut', 'bibingka', 'bicol express', 'bistek talagog', 'buco pie',
        'bulalo', 'cassava cake', 'champorado', 'chicharon', 'chicken adobo', 'chicken bistek', 'chicken inasal',
        'crispy pata', 'filipino spaghetti', 'ginataang gulay', 'halo-halo', 'kaldereta', 'kare-kare', 'kinilaw',
        'laing', 'leche flan', 'lechon', 'lechon kawali', 'liempo', 'longganisa', 'lumpia', 'pancit guisado',
        'pancit palabok', 'pandesal', 'pinakbet', 'pork adobo', 'pork barbecue', 'pork sisig', 'sinigang', 'taho',
        'tapa', 'tinola', 'tocino', 'turon', 'ube milkshake'
      </p>
    </div>
  </div>
</body>

</html>